<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Regnskabs System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div id="headerArea">
            <div>
                <navbar class="hideElm">
                    <div id="corporationInjection"></div>
                    <a id="accountMenuButton" href="/account">Konti</a>
                    <span id="accountMenuDisabledButton" class="hideElm">Konti</span>
                    <a id="inventoryMenuButton" href="/inventory">Inventar</a>
                    <span id="inventoryMenuDisabledButton" class="hideElm">Inventar</span>
                    <a href="/user">Brugere</a>
                    <a id="memberMenuButton" href="/member">Medlemmer</a>
                    <span id="memberMenuDisabledButton" class="hideElm">Medlemmer</span>
                    <a href="/logout" onclick="logOut(event)">Log ud</a>
                </navbar>
            </div>
        </div>
    </header>
    @RenderBody()
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <div id="sizeEvaluation"></div>
</body>
</html>
