@{
    ViewData["Title"] = "Indtægts konti";
}
        Tilbage til overblik <a href="/">Link</a>
<br>
<br>
<br>
<a href="/account">Konti overblik</a>
<br>
<a href="/account/view?income">Indtægter</a>
<br>
<br>
<br>

Et overblik over enkelte posteringer...




To be designed...
<br>
Following data available on detail of finance:

Evt. som række af posteringer, med nedenstående og debit/kredit/summerings kolonne ... eller?
<br>
<br>
        public double value { get; set; }
<br>
        public string comment { get; set; }
<br>
        public string byWho { get; set; }
<br>
        public DateTime addDate { get; set; }
<br>
        public DateTime payDate { get; set; }
<br>
<br>

... måske en knap til vis comment / add comment? i designet?

To be designed...