@{
    ViewData["Title"] = "Konti overblik";
}

<div class="gridContainer">


    <div>
        <div id="accountInjection" style="float:left;padding-right:10px;"></div>
        <div>
            <select id="timeframe">
                <option value="1">Alle posteringer</option>
                <option value="2">I dag</option>
                <option value="3">Seneste 2 dage</option>
                <option value="4">Seneste 7 dage</option>
                <option value="5">Seneste måned</option>
            </select>
        </div>
    </div>
    <br><br>


    <table id="financeOverview" class="mainTable" CELLSPACING="0">
        <tr>
            <th class="tableHeaders">Posterings Id</th>
            <th class="tableHeaders" id="accountColumn">Konti</th>
            <th class="tableHeaders" id="dateColumn">Dato</th>
            <th class="tableHeaders">Kommentar</th>
            <th class="tableHeaders">Oprettet af</th>
            <th class="tableHeaders">Beløb</th>
        </tr>
        <tr id="fincanceSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tableDataEnd"></td>
        </tr>
    </table>
    <br><br>
    <form id="addAccountForm">
        Ny konti:
        <input type="text" name="accountName">
        <button onclick="addAccount()">Tilføj konti</button>
    </form>



    <br><br>
    Tilføj postering ... skiftes til pop over modal design når det er klar fra Jannik:<br>
    <form id="addFinanceForm">
        <input type="text" class="hideElm" name="konti">
        <table id="addFinance" class="mainTable" CELLSPACING="0">
            <tr>
                <th class="tableHeaders">Kommentar</th>
                <th class="tableHeaders">Beløb</th>
                <th class="tableHeaders">Gennemfør</th>
            </tr>
            <tr id="addFinanceSchema">
                <td class="tableData"><input type="text" name="comment" class="LoginFormBox"></td>
                <td class="tableData"><input type="text" name="value" class="LoginFormBox"></td>
                <td class="tableData tableDataEnd"><button type="button" class="FormSubmit" onclick="addFinance()">Tilføj</button></td>
            </tr>
        </table>
    </form>
</div>
