@{
    ViewData["Title"] = "Konti overblik";
}

<div class="drowdownsContainer">
    <div class="dropdownDiv">
        <select class="regnskabsDropdowns" id="accountInjection" onchange="changeAccount()">
        </select>
    </div>

    <div class="inline-block">
        <input type="button" class="regnskabsDropdowns bg-secondary" onclick="showEditAccount(event)" value="Ret konti">
    </div>

    <div class="inline-block">
        <input type="button" class="regnskabsDropdowns bg-secondary" onclick="showAddAccount(event)" value="Tilføj konti">
    </div>
</div>

<div class="gridContainer">
    <table class="mainTable" id="financeOverview">
        <tr>
            <th class="tableHeaders">Postering</th>
            <th class="tableHeaders">Kommentar</th>
            <th class="tableHeaders" id="accountColumn">Konti</th>
            <th class="tableHeaders" id="dateColumn">Dato</th>
            <th class="tableHeaders">Bogført af</th>
            <th class="tableHeaders tableHeaderEnd">Posterings Id</th>
        </tr>
        <tr id="financeSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tableDataEnd"></td>
        </tr>
    </table>
    <div class="text-center view-h2">
        <div class="inline-block"><input type="button" class="FormSubmit submit-smaller" onclick="showAddFinance(event)" value="Opret postering"></div>
        <div class="inline-block"><input type="button" class="FormSubmit submit-smaller" onclick="getRepFinance(event)" value="Vis gentagende betalinger"></div>
    </div>
</div>



<div id="createAccountSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Opret konti</div>
            <a href="/closeModal" onclick="modal.hide(event, 'createAccountSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="addAccountForm">
            <table class="mainTable">
                <tbody>
                    <tr>
                        <td class="tableData">Navn</td>
                        <td class="tableData"><input type="text" name="AccountName" value=""></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="addAccount(event)" value="Opret konti"></div>
        </form>
    </div>
</div>


<div id="editAccountSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Ret kontinavn</div>
            <a href="/closeModal" onclick="modal.hide(event, 'editAccountSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="accountEditForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableData">Info</td>
                        <td class="tableData">Nuværende</td>
                        <td class="tableData">Fremtidig</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData">Navn</td>
                        <td class="tableData"><input type="text" name="AccountName" value="" readonly class="un-editable"></td>
                        <td class="tableData tableDataEnd"><input type="text" name="NewAccountName" value=""></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="changeAccountName(event)" value="Ret konti navn"></div>
        </form>
    </div>
</div>


<div id="repFinanceSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Gentagende posteringer</div>
            <a href="/closeModal" onclick="modal.hide(event, 'repFinanceSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <table class="mainTable">
            <thead>
                <tr>
                    <td class="tableHeaders">Postering</td>
                    <td class="tableHeaders">Kommentar</td>
                    <td class="tableHeaders">Konti</td>
                    <td class="tableHeaders">Oprettet af</td>
                    <td class="tableHeaders">Interval type</td>
                    <td class="tableHeaders">Interval frekvens</td>
                    <td class="tableHeaders">Næste betaling</td>
                    <td class="tableHeaders">Slet</td>
                </tr>
            </thead>
            <tbody>
                <tr class="hideElm">
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData"></td>
                    <td class="tableData tableDataEnd"></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="createRepFinance(event)" value="Opret gentagende betaling"></div>
    </div>
</div>


<div id="createRepFinanceSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Gentagende posteringer</div>
            <a href="/closeModal" onclick="modal.hide(event, 'createRepFinanceSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="createRepFinanceForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableData">Info</td>
                        <td class="tableData">Værdi</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData">Postering</td>
                        <td class="tableData tableDataEnd"><input type="text" name="value" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Kommentar</td>
                        <td class="tableData tableDataEnd"><input type="text" name="comment" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Konti</td>
                        <td class="tableData tableDataEnd"><input type="text" name="konti" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Oprettet af</td>
                        <td class="tableData tableDataEnd"><input type="text" name="byWho" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Interval type</td>
                        <td class="tableData tableDataEnd"><input type="text" name="intervalType" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Interval frekvens</td>
                        <td class="tableData tableDataEnd"><input type="text" name="intervalValue" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Næste betaling</td>
                        <td class="tableData tableDataEnd"><input type="text" name="nextExecDate" value="2021-05-21T04:16:44.5291835+02:00"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="createRepFinance(event)" id="performCreateRepFinanceButton" value="Opret gentagende betaling"></div>
        </form>
    </div>
</div>






<div id="createFinanceSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Gentagende posteringer</div>
            <a href="/closeModal" onclick="modal.hide(event, 'createFinanceSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="addFinanceForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableHeaders">Kommentar</td>
                        <td class="tableHeaders">Beløb</td>
                    </tr>
                </thead>
                <tbody>
                    <tr id="addFinanceSchema">
                        <td class="tableData"><input type="text" name="comment"></td>
                        <td class="tableData"><input type="text" name="value"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="addFinance(event)" value="Opret postering"></div>
        </form>
    </div>
</div>