@{
    ViewData["Title"] = "Konti overblik";
}




<div class="drowdownsContainer">
    <div class="dropdownDiv">
        <Select class="regnskabsDropdowns" id="accountInjection" onchange="changeAccount()">
            <option>A</option>
            <option>B</option>
        </Select>
    </div>

    <div class="dropdownDiv">
        <select class="regnskabsDropdowns" id="timeframe">
            <option>Uge</option>
            <option>Måned</option>
        </select>
    </div>
</div>

<div class="gridContainer">
    <table class="mainTable" id="financeOverview">
        <tr>
            <th class="tableHeaders">Postering</th>
            <th class="tableHeaders">Kommentar</th>
            <th class="tableHeaders" id="accountColumn">Konti</th>
            <th class="tableHeaders" id="dateColumn">Dato</th>
            <th class="tableHeaders">Bogført af</th>
            <th class="tableHeaders tableHeaderEnd">Posterings Id</th>
        </tr>
        <tr id="financeSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tableDataEnd"></td>
        </tr>
    </table>
</div>



<br>
<br>
<br>
<br>
<br>
<br>

<div class="gridContainer">

    <br><br>
    <form id="addAccountForm">
        Ny konti:
        <input type="text" name="AccountName">
        <button onclick="addAccount()">Tilføj konti</button>
    </form>


    <br><br>
        <form id="changeAccountForm">
            Ret nuværende konti navn:
            <input type="text" name="NewAccountName">
            <button onclick="changeAccountName(event)">Skift konti navn</button>
        </form>



    <br><br>
    Tilføj postering ... skiftes til pop over modal design når det er klar fra Jannik:<br>
    <form id="addFinanceForm">
        <table id="addFinance" class="mainTable" CELLSPACING="0">
            <tr>
                <th class="tableHeaders">Kommentar</th>
                <th class="tableHeaders">Beløb</th>
                <th class="tableHeaders">Gennemfør</th>
            </tr>
            <tr id="addFinanceSchema">
                <td class="tableData"><input type="text" name="comment" class="LoginFormBox"></td>
                <td class="tableData"><input type="text" name="value" class="LoginFormBox"></td>
                <td class="tableData tableDataEnd"><button type="button" class="FormSubmit" onclick="addFinance()">Tilføj</button></td>
            </tr>
        </table>
    </form>
</div>
