@{
    ViewData["Title"] = "Konti overblik";
}

        Tilbage til overblik <a href="/">Link</a>
<br>
<br>
<br>
<a href="/account">Konti overblik</a>
<br>
<a href="/account/view?income">Indtægter</a>
<br>
<br>
<br>
Herinde måske et overblik over konti, da hver konti har et navn?
... så man kan trykke på den enkelte konti?

        Tilbage til overblik <a href="/">Link</a>
<br>
<br>
<br>

<br>


        public string name { get; set; }



To be designed...