@{
    ViewData["Title"] = "Home Page";
}


<form id="loginForm">
    User: <input type="text" name="user"><br>
    Password: <input type="text" name="password"><br>
    <input type="button" onclick="login()" value="Login"><br>
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
