@{
    ViewData["Title"] = "Home Page";
}

<div id="loggedOut">
    <form id="loginForm">
        User: <input type="text" name="user"><br>
        Password: <input type="text" name="password"><br>
        <input type="button" onclick="login()" value="Login"><br>
    </form>
</div>


<div id="loggedIn" class="hideElm b">
    Logged in
    Show dashboard here...

    <input type="button" onclick="logOut()" value="Log out">
</div>
