@{
    ViewData["Title"] = "Inventar overblik";
}



<div class="gridContainer">
    <table id="inventoryTable" class="mainTable" CELLSPACING="0">
        <thead>
            <tr>
                <th class="tableHeaders">Id</th>
                <th class="tableHeaders">Beskrivelse</th>
                <th class="tableHeaders">Værdi</th>
                <th class="tableHeaders">Ret</th>
                <th class="tableHeaders">Slet</th>
            </tr>
        </thead>
        <tbody>
            <tr id="inventorySchema" class="hideElm">
                <td class="tableData"></td>
                <td class="tableData"></td>
                <td class="tableData"></td>
                <td class="tableData tdImg"></td>
                <td class="tableData tdImg tableDataEnd"></td>
            </tr>
        </tbody>
    </table>
    <div class="text-center view-h2"><input type="button" class="FormSubmit submit-smaller" id="inventoryCreateInitButton" value="Tilføj nyt inventar"></div>
</div>



<div id="inventoryCreateModal" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head" id="inventoryCreateModalHead">
            <div>Tilføj inventar</div>
        </div>
        <form id="inventoryCreateForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableHeaders">Beskrivelse</td>
                        <td class="tableHeaders">Værdi</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData"><input type="text" name="itemName"></td>
                        <td class="tableData"><input type="number" step="0.1" name="value"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" id="inventoryCreateButton" value="Tilføj inventar"></div>
        </form>
    </div>
</div>



<div id="inventoryEditModal" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head" id="inventoryEditModalHead">
            <div>Ret inventar</div>
        </div>
        <form id="inventoryEditForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableHeaders">Info</td>
                        <td class="tableHeaders">Nuværende</td>
                        <td class="tableHeaders">Fremtidig</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData">Id</td>
                        <td class="tableData"><input type="text" name="id" value="" readonly class="un-editable"></td>
                        <td class="tableData tableDataEnd">(Kan ikke rettes)</td>
                    </tr>
                    <tr>
                        <td class="tableData">Beskrivelse</td>
                        <td class="tableData"><span id="inventoryEdit_itemName"></span></td>
                        <td class="tableData tableDataEnd"><input type="text" name="itemName" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Værdi</td>
                        <td class="tableData"><span id="inventoryEdit_value"></span></td>
                        <td class="tableData tableDataEnd"><input type="number" step="0.1" name="value" value=""></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" id="inventoryEditButton" value="Ret inventar"></div>
        </form>
    </div>
</div>

