@{
    ViewData["Title"] = "Opret medlem";
}

<div id="bodyContainer">
    <center>

        <br>
        Opret medlem<br>
        <form id="memberCreateForm">
            Fornavn: <input type="text" name="firstName"><br>
            Efternavn: <input type="text" name="lastName"><br>
            Email: <input type="text" name="mail"><br>
            Telefon nummer: <input type="text" name="phoneNumber"><br>
            <br>
            <input type="button" onclick="memberCreate(event)" value="Tilføj medlem"><br>
        </form>


    </center>
</div>
<!-- Design to be fixed -->
<br>
<br>
