@{
    ViewData["Title"] = "Medlems oversigt";
}
<div id="bodyContainer">
    <center>
        <a href="/member/creation">Opret medlem</a><br>
        <a href="/member/edit">Rediger medlem</a><br>

        <br>
        List med medlemmer<br>
        public string firstname { get; set; }<br>
        public string lastname { get; set; }<br>
        public string mail { get; set; }<br>
        public string phoneNumber { get; set; }<br>
        ...<br>
        ...<br>
    </center>
</div>