@{
    ViewData["Title"] = "Medlems oversigt";
}
<div id="bodyContainer">
    <center>
        Tilbage til overblik <a href="/">Link</a><br><br><br>

        Medlems overblik <a href="/member">Link</a><br>
        Opret medlem <a href="/member/creation">Link</a><br>
        Rediger medlem <a href="/member/edit">Link</a><br>

        <br>
        List med medlemmer<br>
        public string firstname { get; set; }<br>
        public string lastname { get; set; }<br>
        public string mail { get; set; }<br>
        public string phoneNumber { get; set; }<br>
        ...<br>
        ...<br>
    </center>
</div>