@{
    ViewData["Title"] = "Login";
}

<div id="bodyContainer">
    <center>
        <div class="modularLogin" id="LoginBox">

            <img class="loginImage" src="Media\LoginIcon.png">

            <form id="loginForm">

                <input type="text" class="LoginFormBox" name="User" placeholder="Brugernavn">

                <input type="password" class="LoginFormBox" name="Password" placeholder="Kodeord">

                <button class="FormSubmit" type="submit" onclick="login(event)"> Log Ind </button>

            </form>
        </div>
    </center>
</div>
