@{
    ViewData["Title"] = "Dashboard";
}

<div id="bodyContainer">
    <center>
        <div id="loggedOut">
            <div class="modularLogin" id="LoginBox">

                <img class="loginImage" src="Media\LoginIcon.png">

                <form id="loginForm" action="javascript:login();">

                    <input class="LoginFormBox" name="user" placeholder="Brugernavn"> </input>

                    <input class="LoginFormBox" name="password" placeholder="Kodeord">  </input>

                    <button class="FormSubmit" type="submit"> Log Ind </button>

                </form>
            </div>
        </div>
        <div id="loggedIn" class="hideElm">
            Du er logget ind <br>
            <br>
            Vis dashboard her...<br>


            <div id="corporationInjection"></div>

            <a href="/user">Bruger oversigt</a><br>
            <br>
            <button class="FormSubmit" type="submit" onclick="logOut()"> Log Ud </button>
        </div>
    </center>
</div>
