@{
    ViewData["Title"] = "Regnskabs System";
}

Bemærk Janniks design er ikke kopieret ind endnu...

<div id="loggedOut">
    <form id="loginForm">
        Bruger: <input type="text" name="user"><br>
        Kodeord: <input type="text" name="password"><br>
        <input type="button" onclick="login()" value="Log ind"><br>
    </form>
</div>


<div id="loggedIn" class="hideElm b">
    Logget ind
    Vis dashboard her...

    <input type="button" onclick="logOut()" value="Log ud">
</div>
