@{
    ViewData["Title"] = "Slet bruger";
}

<div id="bodyContainer">
    <center>
        Tilbage til overblik <a href="/">Link</a><br><br><br>
        Bruger overblik <a href="/user">Link</a><br>
        Opret bruger <a href="/user/creation">Link</a><br>
        Rediger bruger <a href="/user/edit">Link</a><br>
        Slet bruger <a href="/user/deletion">Link</a><br>

        <br>
        Slet bruger<br>
    </center>
</div>