@{
    ViewData["Title"] = "Rediger bruger";
}

<div id="bodyContainer">
    <center>
        Bruger overblik <a href="/user">Link</a><br>
        Opret bruger <a href="/user/creation">Link</a><br>
        Rediger bruger <a href="/user/edit">Link</a><br>
        Slet bruger <a href="/user/deletion">Link</a><br>

        <br>
        Rediger bruger<br>


                      <br><br>
        Permission checkbokse?<br><br>
        Tekst ? | Egen rettighed ? | Ny bruger rettighed ?<br>

        public bool AddCorporation { get; set; }<br>
        public bool Admin { get; set; }<br>
        public bool AddUser { get; set; }<br>
        public bool EditUser { get; set; }<br>
        public bool DeleteUser { get; set; }<br>
        public bool AddMember { get; set; }<br>
        public bool EditMember { get; set; }<br>
        public bool DeleteMember { get; set; }<br>
        public bool AddFinance { get; set; }<br>
        public bool ViewFinance { get; set; }<br>
        public bool LimitedViewFinance { get; set; }<br>
        public bool AddInventory { get; set; }<br>
        public bool EditInventory { get; set; }<br>
        public bool DeleteInventory { get; set; }<br>
    </center>
</div>