@{
    ViewData["Title"] = "Bruger oversigt";
}


<div id="bodyContainer">
    <center>
        <div id="loggedOut">

            <!-- Design to be fixed -->
            Opret bruger<br>
            <br>
            <form id="userCreateForm">
                Bruger navn: <input type="text" name="userName"><br>
                Fornavn: <input type="text" name="firstName"><br>
                Efternavn: <input type="text" name="lastName"><br>
                - Bemærk kodeord oprettes automatisk og sendes til brugeren.<br>
                <br>
                <input type="button" onclick="UserCreate()" value="Tilføj bruger"><br>
            </form>
        </div>
    </center>
</div>