@{
    ViewData["Title"] = "Bruger oversigt";
}

<div>
    <form id="userEditForm">
        Bruger der skal redigeres: <input type="text" name="userId"><br>
        Nyt password til bruger: <input type="text" name="password"><br>
        <input type="button" onclick="UserEdit()" value="Login"><br>
    </form>
</div>