@{
    ViewData["Title"] = "Bruger oversigt";
}
<div class="gridContainer">
    Tilbage til overblik <a href="/">Link</a><br>

    Bruger overblik <a href="/user">Link</a><br>
    Opret bruger <a href="/user/creation">Link</a><br>
    Rediger bruger <a href="/user/edit">Link</a><br><br><br>


    <table id="userTable" class="mainTable" CELLSPACING="0">
        <tr>
            <th class="tableHeaders">Brugernavn</th>
            <th class="tableHeaders">E-Mail</th>
            <th class="tableHeaders">Navn</th>
            <th class="tableHeaders">Sidst set</th>
            <th class="tableHeaders thImg">Ret bruger</th>
            <th class="tableHeaders thImg tableHeaderEnd">Slet bruger</th>
        </tr>
        <tr>
            <td id="tdr1c1" class="tableData">Admin</td>
            <td id="tdr1c2" class="tableData">Admin@amial.com</td>
            <td id="tdr1c3" class="tableData">Knud Erik</td>
            <td id="tdr1c4" class="tableData">14/04-2021</td>
            <td id="tdr1c5" class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td id="tdr1c6" class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
        <tr>
            <td id="tdr1c1" class="tableData">Admin</td>
            <td id="tdr1c2" class="tableData">Admin@amial.com</td>
            <td id="tdr1c3" class="tableData">Knud Erik</td>
            <td id="tdr1c4" class="tableData">14/04-2021</td>
            <td id="tdr1c5" class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td id="tdr1c6" class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
        <tr>
            <td id="tdr1c1" class="tableData">Admin</td>
            <td id="tdr1c2" class="tableData">Admin@amial.com</td>
            <td id="tdr1c3" class="tableData">Knud Erik</td>
            <td id="tdr1c4" class="tableData">14/04-2021</td>
            <td id="tdr1c5" class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td id="tdr1c6" class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
        <tr>
            <td id="tdr1c1" class="tableData">Admin</td>
            <td id="tdr1c2" class="tableData">Admin@amial.com</td>
            <td id="tdr1c3" class="tableData">Knud Erik</td>
            <td id="tdr1c4" class="tableData">14/04-2021</td>
            <td id="tdr1c5" class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td id="tdr1c6" class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
    </table>
</div>