@{
    ViewData["Title"] = "Bruger oversigt";
}
<div class="gridContainer">
    Tilbage til overblik <a href="/">Link</a><br>

    Bruger overblik <a href="/user">Link</a><br>
    Opret bruger <a href="/user/creation">Link</a><br>
    Rediger bruger <a href="/user/edit">Link</a><br><br><br>


    <table id="userTable" class="mainTable" CELLSPACING="0">
        <tr>
            <th class="tableHeaders">Brugernavn</th>
            <th class="tableHeaders">E-Mail</th>
            <th class="tableHeaders">Navn</th>
            <th class="tableHeaders">Sidst set</th>
            <th class="tableHeaders thImg" id="editUserHeader">Ret bruger</th>
            <th class="tableHeaders thImg tableHeaderEnd" id="deleteUserHeader">Slet bruger</th>
        </tr>
        <tr id="userSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
    </table>
</div>