@{
    ViewData["Title"] = "Bruger oversigt";
}
<div class="gridContainer">

    <a href="/user/creation">Tilføj bruger</a> &lt;- Mangler design<br>

    <a href="user/add" onclick="showModal(event, 'userAddSchema')">Tilføj bruger - modal</a> - Mangler design<br>br>

    <table id="userTable" class="mainTable" CELLSPACING="0">
        <tr>
            <th class="tableHeaders">Brugernavn</th>
            <th class="tableHeaders">E-Mail</th>
            <th class="tableHeaders">Navn</th>
            <th class="tableHeaders">Sidst set</th>
            <th class="tableHeaders thImg" id="editUserHeader">Ret bruger</th>
            <th class="tableHeaders thImg tableHeaderEnd" id="deleteUserHeader">Slet bruger</th>
        </tr>
        <tr id="userSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tdImg"><img src="Media\EditIcon.png" class="tableImgEdit"></td>
            <td class="tableData tdImg tableDataEnd"><img src="Media\DeleteIcon.png" class="tableImgDelete"></td>
        </tr>
    </table>
</div>

<div id="userAddSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Tilføj bruger</div>
            <a href="/closeModal" onclick="hideModal(event, 'userAddSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="userCreateForm">
            Bruger navn: <input type="text" name="userName"><br>
            Fornavn: <input type="text" name="firstName"><br>
            Efternavn: <input type="text" name="lastName"><br>
            Email: <input type="text" name="mail"><br>
            - Bemærk kodeord oprettes automatisk og sendes til brugeren.<br>
            <br>
            <br>


            <!--
            public bool AddCorporation { get; set; }<br>
            public bool Admin { get; set; }<br>
            public bool AddUser { get; set; }<br>
            public bool EditUser { get; set; }<br>
            public bool DeleteUser { get; set; }<br>
            public bool AddMember { get; set; }<br>
            public bool EditMember { get; set; }<br>
            public bool DeleteMember { get; set; }<br>
            public bool AddFinance { get; set; }<br>
            public bool ViewFinance { get; set; }<br>
            public bool LimitedViewFinance { get; set; }<br>
            public bool AddInventory { get; set; }<br>
            public bool EditInventory { get; set; }<br>
            public bool DeleteInventory { get; set; }<br>-->
            Bruger rettigheder:<br>
            <table class="tempUserCreate">
                <thead>
                    <tr>
                        <td>
                            Rettighed
                        </td>
                        <td>
                            Egen adgang
                        </td>
                        <td>
                            Bruger adgang
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            AddCorporation
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="AddCorporation">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Admin
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="Admin">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AddUser
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="AddUser">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EditUser
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="EditUser">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            DeleteUser
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="DeleteUser">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AddMember
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="AddMember">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EditMember
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="EditMember">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DeleteMember
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="DeleteMember">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AddFinance
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="AddFinance">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ViewFinance
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="ViewFinance">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LimitedViewFinance
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="LimitedViewFinance">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AddInventory
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="AddInventory">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EditInventory
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="EditInventory">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DeleteInventory
                        </td>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" class="ToJsonObjectPermissions" name="DeleteInventory">
                        </td>
                    </tr>
                </tbody>
            </table>


            <br>
            <br>

            <input type="button" onclick="userCreate(event)" value="Tilføj bruger"><br>
        </form>
    </div>
</div>