@{
    ViewData["Title"] = "Bruger oversigt";
}
<div class="gridContainer">

    <table id="userTable" class="mainTable" CELLSPACING="0">
        <tr>
            <th class="tableHeaders">Brugernavn</th>
            <th class="tableHeaders">E-Mail</th>
            <th class="tableHeaders">Navn</th>
            <th class="tableHeaders">Sidst set</th>
            <th class="tableHeaders thImg" id="editUserHeader">Ret bruger</th>
            <th class="tableHeaders thImg tableHeaderEnd" id="deleteUserHeader">Slet bruger</th>
        </tr>
        <tr id="userSchema" class="hideElm">
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData"></td>
            <td class="tableData tdImg"></td>
            <td class="tableData tdImg tableDataEnd"></td>
        </tr>
    </table>
    <div class="text-center"><input type="button" class="FormSubmit submit-smaller" onclick="userCreate(event)" value="Tilføj ny bruger"></div>
</div>

<div id="userEditSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Rediger bruger</div>
            <a href="/closeModal" onclick="hideModal(event, 'userEditSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="userEditForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableHeaders">Info</td>
                        <td class="tableHeaders">Nuværende</td>
                        <td class="tableHeaders">Fremtidig</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData">Bruger navn</td>
                        <td class="tableData"><input type="text" name="username" value="" readonly class="un-editable"></td>
                        <td class="tableData tableDataEnd">(Kan ikke rettes)</td>
                    </tr>
                    <tr>
                        <td class="tableData">Fornavn</td>
                        <td class="tableData"><span id="userEdit_firstname"></span></td>
                        <td class="tableData tableDataEnd"><input type="text" name="firstname" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Efternavn</td>
                        <td class="tableData"><span id="userEdit_lastname"></span></td>
                        <td class="tableData tableDataEnd"><input type="text" name="lastname" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">E-mail</td>
                        <td class="tableData"><span id="userEdit_mail"></span></td>
                        <td class="tableData tableDataEnd"><input type="text" name="mail" value=""></td>
                    </tr>
                    <tr id="editUserPassword">
                        <td class="tableData">Kodeord</td>
                        <td class="tableData text-center">Ukendt</td>
                        <td class="tableData tableDataEnd"><input type="password" name="password" value=""></td>
                    </tr>
                </tbody>
            </table>

            <table class="mainTable" id="editUserRights">
                <thead>
                    <tr>
                        <td class="tableHeaders">Rettighed</td>
                        <td class="tableHeaders">Kan tildeles</td>
                        <td class="tableHeaders">Nuværende</td>
                        <td class="tableHeaders">Fremtidig</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hideElm">
                        <td class="tableData"></td>
                        <td class="tableData text-center"></td>
                        <td class="tableData text-center"></td>
                        <td class="tableData tableDataEnd text-center"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" id="performEditButton" value="Ret bruger"></div>
        </form>
    </div>
</div>





<div id="userCreateSchema" class="modal-main hideElm">
    <div class="modal-content">
        <div class="modal-head">
            <div>Opret bruger</div>
            <a href="/closeModal" onclick="hideModal(event, 'userCreateSchema')"><img src="/Media/DeleteIcon.png"></a>
        </div>
        <form id="userCreateForm">
            <table class="mainTable">
                <thead>
                    <tr>
                        <td class="tableHeaders">Info</td>
                        <td class="tableHeaders">Værdi</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tableData">Bruger navn</td>
                        <td class="tableData tableDataEnd"><input type="text" name="username" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Fornavn</td>
                        <td class="tableData tableDataEnd"><input type="text" name="firstname" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">Efternavn</td>
                        <td class="tableData tableDataEnd"><input type="text" name="lastname" value=""></td>
                    </tr>
                    <tr>
                        <td class="tableData">E-mail</td>
                        <td class="tableData tableDataEnd"><input type="text" name="mail" value=""></td>
                    </tr>
                </tbody>
            </table>

            <table class="mainTable" id="createUserRights">
                <thead>
                    <tr>
                        <td class="tableHeaders">Rettighed</td>
                        <td class="tableHeaders">Kan tildeles</td>
                        <td class="tableHeaders">Tildel</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hideElm">
                        <td class="tableData"></td>
                        <td class="tableData text-center"></td>
                        <td class="tableData tableDataEnd text-center"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center"><input type="button" class="FormSubmit submit-smaller" id="performCreateButton" value="Opret bruger"></div>
        </form>
    </div>
</div>
